{% extends "fragments/base.twig" %}

{% block content %}

<h1>npm build boilerplate</h1>

<div class="c-task">
  <h2>css (scss)</h2>
  <p class="c-task__green">If scss is compiled, this text should be green</p>

  <p>image-url variable:</p>
  <div class="c-task__image"></div>
</div>

<div class="c-task">
  <h2>images (imagemin)</h2>
  <div class="icon icon--sample-1">
    {% include '../../svg/sample-1.svg' %}
  </div>
</div>

<div class="c-task">
  <h2>js (webpack)</h2>
  <p id="script-01">script 01: make this text green</p>
  <p id="script-02">script 02: make this text bold</p>
  <p id="script-03">script 03: make this text blue</p>
</div>

<div class="c-task">
  <h2>html (twig)</h2>
  <p>If twig data is loaded, you should see 3 elements in the list</p>

  <ul>
  {% for post in sample %}
    <li>{{ post.title }}</li>
  {% endfor %}
  </ul>
</div>

{% endblock %}