<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>npm build boilerplate</title>
  <link href="./css/app.css" rel="stylesheet" />
</head>
<body>
  <div id="container">
    {% block content %}{% endblock %}
    <script src="./js/main.js"></script>
  </div>
</body>
</html>