$green: #3db39e;
$image-base-path: "../images";

body {
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  h1 {
    background-color: $green;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 20px 30px 19px;
    color: #fff;
  }

  h2 {
    font-size: 26px;
    margin: 0 0 15px;
  }

  p {
    font-size: 15px;
    margin: 0 0 10px;

    &.green {
      color: $green;
    }
  }

  ul {
    li {
      font-size: 15px;
      margin: 5px 0;
    }
  }

  .task {
    border-bottom: 1px dotted $green;
    padding: 20px 30px;
  }

  /* TEST IMG PATH */
  .sample {
    width: 100px;
    height: 100px;
    background: url('#{$image-base-path}/sample-1.jpg') no-repeat 0 0;
    background-size: 100px auto;
  }

  /* TEST SVG ICON */
  .icon {
    background-size: 100% auto;
  }

  .icon--sample-1 {
    display: block;
    width: 100px;
    height: 100px;
    transition: all 0.5s;

    &:hover {
      transform: rotate(90deg);
    }
  }
}
